
@{
    ViewBag.Title = "Forum";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<body style="background:linear-gradient(to right,#bdc3c7, #2c3e50); background-repeat: no-repeat; background-attachment: fixed;">
    <div style="margin-top: 50px;margin-bottom: 20px" class="col-md-offset-1 col-md-10">
        @using (Html.BeginForm())
        {
            <div class="form-group">
                Temat:<input class="form-control" type="text" value="" style="margin-top: 5px;" name="tekst" ; />
                <input type="submit" class="btn btn-info" value="Szukaj" style="margin-top: 5px;margin-bottom: 5px" />
            </div>


        }


        <div style="border-radius: 10px; background-color: #bdc3c7;">
            <div style="border-top-left-radius: 10px; border-bottom-left-radius: 10px; background-color: #bdc3c7;" class="col-md-6">
                <h6>Forum</h6>
            </div>

            <div style="background-color: #bdc3c7;" class="col-md-2">
                <h6>Statystyki</h6>
            </div>

            <div style="border-top-right-radius: 10px;border-bottom-right-radius: 10px; background-color: #bdc3c7;" class="col-md-4">
                <h6>Ostatni</h6>
            </div>
        </div>
        <hr style="width: 100%; text-align: left; margin-left: 0; margin-top: 40px; margin-bottom: 0px; height: 2px; border-width: 0; color: gray; background-color: black">

        <div style="margin-top: 10px;">
            <div style="border-top-left-radius: 10px; border-bottom-left-radius: 10px; background-color: #7f8a93; padding-top: 20px; padding-bottom:41px " class="col-md-6">
                <h4><a style="text-decoration: none;color: black" href="/Forum/Posty/Zasady">Zasady obowiązujące na forum</a></h4>
            </div>

            <div style="background-color: #7f8a93; padding-top: 10px; padding-bottom: 30px;" class="col-md-2" class="col-md-2">
                <p>Posty: 1</p>
                <p>Odpowiedzi:0</p>
            </div>

            <div style="border-top-right-radius: 10px;border-bottom-right-radius: 10px; background-color: #7f8a93;padding-top: 10px; padding-bottom: 0px;" class="col-md-4">
                <p>Posty: Regulamin</p>
                <p>Autor: Admin</p>
                <p>Data: 04.09.2020 14:23</p>
            </div>
        </div>
        <hr style="width: 100%; text-align: left; margin-left: 0; margin-top: 120px; margin-bottom: 5px; height: 2px; border-width: 0; color: gray; background-color: black">

        <div style="margin-top: 10px;">
            <div style="border-top-left-radius: 10px; border-bottom-left-radius: 10px; background-color: #7f8a93; padding-top: 20px; padding-bottom:41px " class="col-md-6">
                <h4><a style="text-decoration: none;color: black" href="/Forum/Posty/Wędkarstwo">Wędkarstwo</a></h4>
            </div>

            <div style="background-color: #7f8a93; padding-top: 10px; padding-bottom: 30px;" class="col-md-2" class="col-md-2">
                <p>Tematy: 3</p>
                <p>Odpowiedzi: 5</p>
            </div>

            <div style="border-top-right-radius: 10px;border-bottom-right-radius: 10px; background-color: #7f8a93;padding-top: 10px; padding-bottom: 0px;" class="col-md-4">
                <p>Temat: Spławik</p>
                <p>Autor: Mariusz</p>
                <p>Data: 27.10.2020 19:28</p>
            </div>
        </div>
        <hr style="width: 100%; text-align: left; margin-left: 0; margin-top: 120px; margin-bottom: 5px; height: 2px; border-width: 0; color: gray; background-color: black">

        <div style="margin-top: 10px;">
            <div style="border-top-left-radius: 10px; border-bottom-left-radius: 10px; background-color: #7f8a93; padding-top: 20px; padding-bottom:41px " class="col-md-6">
                <h4><a style="text-decoration: none;color: black" href="/Forum/Posty/Ogólne">Ogólne</a></h4>
            </div>

            <div style="background-color: #7f8a93; padding-top: 10px; padding-bottom: 30px;" class="col-md-2" class="col-md-2">
                <p>Posty:1</p>
                <p>Odpowiedzi:3</p>
            </div>

            <div style="border-top-right-radius: 10px;border-bottom-right-radius: 10px; background-color: #7f8a93;padding-top: 10px; padding-bottom: 0px;" class="col-md-4">
                <p>Temat: Potrzebna pomoc</p>
                <p>Autor: Roj</p>
                <p>Data: 30.08.2020 18:47</p>
            </div>
        </div>
        <hr style="width: 100%; text-align: left; margin-left: 0; margin-top: 120px; margin-bottom: 5px; height: 2px; border-width: 0; color: gray; background-color: black">
        <div style="margin-top: 10px;">
            <div style="border-top-left-radius: 10px; border-bottom-left-radius: 10px; background-color: #7f8a93; padding-top: 20px; padding-bottom:41px " class="col-md-6">
                <h4><a style="text-decoration: none;color: black" href="/Forum/Posty/Różne">Różne</a></h4>
            </div>

            <div style="background-color: #7f8a93; padding-top: 10px; padding-bottom: 30px;" class="col-md-2" class="col-md-2">
                <p>Posty:1</p>
                <p>Odpowiedzi:3</p>
            </div>

            <div style="border-top-right-radius: 10px;border-bottom-right-radius: 10px; background-color: #7f8a93;padding-top: 10px; padding-bottom: 0px;" class="col-md-4">
                <p>Temat: Jakie auto?</p>
                <p>Autor: Mariusz</p>
                <p>Data: 10.07.2020 16:37</p>
            </div>
        </div>
        <hr style="width: 100%; text-align: left; margin-left: 0; margin-top: 120px; margin-bottom: 5px; height: 2px; border-width: 0; color: gray; background-color: black">

        <form action="https://localhost:44366/Forum/Dodajpost">
            <div class="form-group">
                <div style="text-align: center;">
                    <input style="margin-top:10px; padding:10px;" type="submit" value="Nowy post" class="btn btn-success" />
                </div>
            </div>
        </form>
    </div>

</body>